In [2]:
import numpy as np
import pandas as pd

ev = pd.read_csv('gms_eval_v3.csv')
ev = ev[['ID', 'action', '1차 평가']]

In [3]:
ev

        ID   action  1차 평가
0     B001  GMS_1_1    3.0
1     B001  GMS_1_2    3.0
2     B001  GMS_1_3    3.0
3     B001  GMS_1_4    3.0
4     B001  GMS_1_5    3.0
...    ...      ...    ...
7625  A054  GMS_4_1    1.0
7626  A058  GMS_1_1    3.0
7627  A058  GMS_2_1    0.0
7628  A058  GMS_3_1    0.0
7629  A058  GMS_4_1    0.0

[7630 rows x 3 columns]

In [4]:
ev = ev[ev['ID'].str[0] == "B"]

In [5]:
ev_each = ev[ev['action'].str[4] == "1"]
ev_each_2 = ev[ev['action'].str[4] == "2"]
ev_each_3 = ev[ev['action'].str[4] == "3"]
ev_each_4 = ev[ev['action'].str[4] == "4"]

In [6]:
ev_bad = ev[(ev['1차 평가'] == 0.0) | (ev['1차 평가'] == 1.0)]
ev_good = ev[ev['1차 평가'] == 2.0]
ev_perfect = ev[ev['1차 평가'] == 3.0]

In [7]:
len(ev_bad['ID'].unique())

104

In [8]:
print(len(ev_each['ID'].unique()))
print(len(ev_each_2['ID'].unique()))
print(len(ev_each_3['ID'].unique()))
print(len(ev_each_4['ID'].unique()))

141
141
140
141

In [9]:
len(ev)

2502

In [10]:
print(len(ev_each))
print(len(ev_each_2))
print(len(ev_each_3))
print(len(ev_each_4))

627
624
632
619

In [11]:
gender_age_info = pd.read_csv('gender_age_info.csv')

In [12]:
gender_age_info

       ID  Age_months Gender
0    B001          28      여
1    B006          30      남
2    B011          32      여
3    B014          25      여
4    B015          27      남
..    ...         ...    ...
142  B183          28      여
143  B184          32      남
144  B185          34      여
145  B201          20      여
146  B205          39      남

[147 rows x 3 columns]

In [13]:
gender_age_info['Gender'].value_counts()

여    75
남    72
Name: Gender, dtype: int64

In [14]:
print(gender_age_info['Age_months'].mean())
print(gender_age_info['Age_months'].std())

29.598639455782312
4.325236336793345

In [15]:
ev = pd.merge(ev, gender_age_info, on='ID')

In [16]:
ev

        ID   action  1차 평가  Age_months Gender
0     B001  GMS_1_1    3.0          28      여
1     B001  GMS_1_2    3.0          28      여
2     B001  GMS_1_3    3.0          28      여
3     B001  GMS_1_4    3.0          28      여
4     B001  GMS_1_5    3.0          28      여
...    ...      ...    ...         ...    ...
2497  B205  GMS_4_1    3.0          39      남
2498  B205  GMS_4_2    3.0          39      남
2499  B205  GMS_4_3    3.0          39      남
2500  B205  GMS_4_4    3.0          39      남
2501  B205  GMS_4_5    3.0          39      남

[2502 rows x 5 columns]

In [17]:
ev_each = ev[ev['action'].str[4] == "1"]
ev_each_2 = ev[ev['action'].str[4] == "2"]
ev_each_3 = ev[ev['action'].str[4] == "3"]
ev_each_4 = ev[ev['action'].str[4] == "4"]

In [18]:
print(ev_each.drop_duplicates(subset="ID").mean())
print(ev_each_2.drop_duplicates(subset="ID").mean())
print(ev_each_3.drop_duplicates(subset="ID").mean())
print(ev_each_4.drop_duplicates(subset="ID").mean())

1차 평가          2.333333
Age_months    29.475177
dtype: float64
1차 평가          2.212766
Age_months    29.475177
dtype: float64
1차 평가          2.192857
Age_months    29.435714
dtype: float64
1차 평가          1.602837
Age_months    29.475177
dtype: float64

In [19]:
print(ev_each.drop_duplicates(subset="ID").std())
print(ev_each_2.drop_duplicates(subset="ID").std())
print(ev_each_3.drop_duplicates(subset="ID").std())
print(ev_each_4.drop_duplicates(subset="ID").std())

1차 평가         0.923245
Age_months    4.330262
dtype: float64
1차 평가         0.892897
Age_months    4.330262
dtype: float64
1차 평가         1.009996
Age_months    4.320290
dtype: float64
1차 평가         1.126812
Age_months    4.330262
dtype: float64

In [20]:
print(ev_each.drop_duplicates(subset="ID").mean())
print(ev_each_2.drop_duplicates(subset="ID").mean())
print(ev_each_3.drop_duplicates(subset="ID").mean())
print(ev_each_4.drop_duplicates(subset="ID").mean())

1차 평가          2.333333
Age_months    29.475177
dtype: float64
1차 평가          2.212766
Age_months    29.475177
dtype: float64
1차 평가          2.192857
Age_months    29.435714
dtype: float64
1차 평가          1.602837
Age_months    29.475177
dtype: float64

In [21]:
print(ev_each['Gender'].value_counts())

여    323
남    304
Name: Gender, dtype: int64

In [22]:
print(ev_each.drop_duplicates(subset="ID")['Gender'].value_counts())
print(ev_each_2.drop_duplicates(subset="ID")['Gender'].value_counts())
print(ev_each_3.drop_duplicates(subset="ID")['Gender'].value_counts())
print(ev_each_4.drop_duplicates(subset="ID")['Gender'].value_counts())

남    71
여    70
Name: Gender, dtype: int64
남    71
여    70
Name: Gender, dtype: int64
남    71
여    69
Name: Gender, dtype: int64
남    71
여    70
Name: Gender, dtype: int64

In [23]:
71.0/140

0.5071428571428571

In [42]:
def print_each_count(df):
    bad = len(df[(df['1차 평가'] == 1) | (df['1차 평가'] == 0)])
    good = len(df[df['1차 평가'] == 2])
    perfect = len(df[df['1차 평가'] == 3])
    total = bad+good+perfect
    badp = bad/total
    goodp = good/total
    perfectp = perfect/total
    print(bad, round(badp, 3))
    print(good, round(goodp, 3))
    print(perfect, round(perfectp, 3))
    return bad, good, perfect

In [44]:
b1, g1, p1 = print_each_count(ev_each)

137 0.219
106 0.169
384 0.612

In [45]:
b2, g2, p2 = print_each_count(ev_each_2)

144 0.231
107 0.172
372 0.597

In [46]:
b3, g3, p3 = print_each_count(ev_each_3)

95 0.151
156 0.247
380 0.602

In [47]:
b4, g4, p4 = print_each_count(ev_each_4)

222 0.359
212 0.342
185 0.299

In [49]:
total = b1+b2+b3+b4+g1+g2+g3+g4+p1+p2+p3+p4
b = b1+b2+b3+b4
bp = b/total 
g = g1+g2+g3+g4
gp = g/total
p = p1+p2+p3+p4
pp = p/total

print(b, bp)
print(g, gp)
print(p, pp)

598 0.2392
581 0.2324
1321 0.5284

In [10]:
dev_ev = pd.read_csv('overall_label.csv')

In [11]:
dev_ev

       ID  label_pid
0    B001          0
1    B006          1
2    B007          0
3    B011          0
4    B014          1
..    ...        ...
136  B201          0
137  B202          0
138  B203          0
139  B204          0
140  B205          0

[141 rows x 2 columns]